@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("./montserrat/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./montserrat/montserrat-v14-latin-700.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Leckerli One";
  font-style: normal;
  font-weight: 400;
  src: local("Leckerli One"), local("LeckerliOne-Regular"),
    url("./leckerli-one/leckerli-one-v10-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./leckerli-one/leckerli-one-v10-latin-regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Serif"), local("NotoSerif"),
    url("./noto-serif/noto-serif-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./noto-serif/noto-serif-v8-latin-regular.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url("./roboto-slab/roboto-slab-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./roboto-slab/roboto-slab-v9-latin-regular.woff") format("woff"); /* Modern Browsers */
}