body {
  font-family: 'Playfair Display', serif;
}

header {
  padding-top: 77px;
  padding-bottom: 96px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.main-section {
  margin-bottom: 56px;
  font-size: 0;
  text-align: center;
}

.navigation {
  font-size: 0;
  text-align: center;
  text-transform: uppercase;
}

.list_item {
  display: inline-block;
}

.list_item a {
  display: block;
}

.list_item, .article_content {
  font-size: 14px;
  line-height: 24px;
}

.list_item:not(:last-child) {
  margin-right: 87px;
}

.list_item a:hover,
.list_item a:focus {
  color: #03a9f4;
}

.article {
  vertical-align: top;
  width: 420px;
  display: inline-block;
  text-align: justify;
  margin-bottom: 60px;
}

.article:nth-child(odd) {
  margin-right: 60px;
}

.article:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.article_hdr {
  font-size: 14px;
  text-transform: uppercase;
  color: #b4ad9e;
  line-height: 17px;
  margin-bottom: 24px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}

.navigation, h2, .article_content {
  color: #626262;
}

img {
  height: 280px;
  margin-bottom: 30px;
  display: block;
  width: 420px;
}

.btn {
  padding: 22px 34px;
  background-color: #fff;
  color: #626262;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Playfair Display', serif;
  border: 1px solid #626262;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: #03a9f4;
  border: 1px solid #03a9f4;
}