body {
  font-family: "Roboto", sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.main_container {
  width: 1110px;
  margin: 0 auto;
}

.navigation {
  width: 1110px;
  padding-top: 40px;
  padding-bottom: 104px;
}

.logo {
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 30px;
  color: #555252;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.nav_bar {
  float: right;
}

a {
  display: block;
}

.nav_bar-item {
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 11px;
  color: #515151;
  text-transform: uppercase;
  font-weight: 800;
}
.nav_bar-item:not(:last-child) {
  margin-right: 30px;
}

.nav_bar-item a:hover {
  color: #1abc9c;
}

.secttion_wraper {
  width: 1110px;
  text-align: center;
  padding-bottom: 46px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  text-transform: uppercase;
  font-weight: 900;
}

h2::after {
  content: "";
  display: block;
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 32px;
}

.product_hdr {
  margin-bottom: 92px;
}

.product_list-item {
  float: left;
  width: 254px;
}

.product_img {
  width: 254px;
  height: 282px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  }

.product_list-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.product_list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.product_list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.product_list-text {
  width: 254px;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgb(50, 50, 50) 0%,
    rgb(50, 50, 50) 79%,
    rgba(50, 50, 50, 0.4) 79%,
    rgba(50, 50, 50, 0.4) 100%
  );
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 12px 12px;
}

.product_list-text:hover {
  background: linear-gradient(
    90deg,
    rgb(26, 188, 156) 0%,
    rgb(26, 188, 156) 79%,
    rgba(26, 188, 156, 0.4) 79%,
    rgba(26, 188, 156, 0.4) 100%
  );
  cursor: pointer;
}

.product_list-name {
  float: left;
}

.product_list-price {
  float: right;
  color: #ffffff;
}

.product_section {
  margin-bottom: 100px;
}

.news_hdr {
  margin-bottom: 80px;
}

.news_list-item {
  float: left;
  width: 350px;
  text-align: left;
}

.news_list-item:not(:last-child) {
  margin-right: 30px;
}

.news_img {
  width: 350px;
  height: 262px;
  margin-bottom: 14px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  font-weight: 600;
  text-align: left;
}

h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 136px;
  background-color: #4ec6ab;
  margin-top: 10px;
  margin-bottom: 26px;
}

.news-text {
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  font-weight: 400;
  text-align: justify;
}

.btn {
  width: 160px;
  height: 50px;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
}

.btn:hover {
  background-color: #7fd9c7;
}