// fonts
$font-hdr: "Montserrat", sans-serif;
$font-text: "Roboto", sans-serif;
$font-cursive: "Kaushan Script", cursive;

// colors
$pink: rgb(243, 129, 129);
$yellow: rgb(252, 227, 138);
$white: #ffffff;
$dark: #333333;
$grey: #999999;
$light-grey: #e5e5e5;
$input-color: #cccccc;
$blue: #95e1d3;